#app__header__back{
  position: absolute;
  left: 10px;
  width: 25px;
}

#santa-detail{
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  #santa-detail__draw{
    flex: 2;
    margin-right: 20px;
    #santa-detail__draw__waiting{
      margin-top: 10px;
      display: block;
    }
  }
  #santa-detail__admin{
    flex: 1;
    #santa-detail__admin__launch{
      margin-top: 10px;
      &[disabled]{
        background-color: #494f6c;
        cursor: not-allowed;
      }
    }
  }


  #santa-detail__draw__list{
    max-width: 250px;
    .santa-detail__item{
      padding: 5px;
      justify-content: space-around;
      &.myMatch{
        background-color: #d38481;
      }
    }
  }
}